.roboto-regular {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .roboto-bold {
    font-family: "Roboto", system-ui;
    font-weight: 700;
    font-style: normal;
  }

  .bungee-regular {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .bungee-shade-regular {
    font-family: "Bungee Shade", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.container{

    font-family: "Bungee";
    text-align: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef9c3;
}

*{
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-shadow: none !important;
}

.age{
    font-size: 96pt;
    font-family: "Bungee Shade";
    color: #422006;
    background-color: #fefce8;
    border-radius: 50px;
    border-style: solid;
    margin-left: 180px;
    margin-right: 180px;
    border-width: 7px;
}
.card{
    padding: 20px 30px;
    border-radius: 10px;
    height: 990px;
    width: 600px;
    background-color: #fefce8;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
    margin: 50px;
}
.title{
    font-size: 24pt;
    font-weight: 700;
    font-family: "Bungee Shade";
    color: #422006;
    margin-bottom: 30px;
}
.message{
    font-size: 18pt;
    color: #422006;
    margin-bottom: 10px;
}
.details{
    font-size: 20pt;
    font-weight: 400;
    color: #422006;
    margin-bottom: 20px;
    margin-top: 20px;
}

.details p{
    margin: 5px 0;
    margin-left: 80px;
    margin-right: 80px;
}


.rsvp{
    font-size: 16pt;
    color: #422006;
    margin-top: 10px;
}

.image-container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 350px;
    height: 350px;
    margin-left: 125px;
    margin-bottom: 40px;
    justify-content: center;
    overflow: hidden;
    border-style: solid;
    border-radius: 25px;
    border-width: 5px;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

